<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="webmention" href="https://webmention.io/markgroves.us/webmention" />
<link rel="pingback" href="https://webmention.io/markgroves.us/xmlrpc" />
<script data-goatcounter="https://markgroves.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

{{- if .Params.jsonld }}
<script type="application/ld+json">
{{ .Params.jsonld | jsonify | safeJS }}
</script>
{{- end }}
